{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    about 

{% endblock %}


{% block content %}

    <section id="about">

    <h1>About</h1>


    </section>

    <section id="description">
    <P> this website is used to track the users vehicle maintenance history, so they can keep their vehicles in good condition and avoid costly repairs, throughout the life of their vehicles.</P>
    </section>

    <section id="made by">
    <P>made by "your name"</P>
    </section>
{% endblock %}

