{% extends 'pages/base.jinja' %}

{% block title %}
  Add Vehicle
{% endblock %}

{% block content %}
<section id="add-vehicle">
<article>

        <h1>add a vehicle</h1>

        <form action="/add-vehicle" method="POST">

            <input
                type="text"
                name="make"
                placeholder="Make"
                required
            >

            <input
                type="text"
                name="model"
                placeholder="Model"
                required
            >

            <input
                type="number"
                name="year"
                min="0"
                placeholder="Year"
                required
            >
            <button>Add vehicle</button>

        </form>

    </article>
    {% endblock %}