

{% extends 'pages/base.jinja' %}


{% block title %}

    add/edit a vehicle 

{% endblock %}


{% block content %}

    <section id="add/edit a vehicle">

    <h1>add/edit a vehicle</h1>


<form action="/add/edit.a.vehicle" method="POST"></form>

            <input
                type="text"
                name="name of vehicle"
                placeholder="vehicle name"
                required
            >

            <input
                type="int"
                name="year of vehicle"
                placeholder="year of vehicle"
                required
            >

        
            <button>make changes </button>

        </form>
        
    </article>

    {% endblock %}