

{% extends 'pages/base.jinja' %}


{% block title %}
add log 

{% endblock %}


{% block content %}

    <section id="add log ">

    <h1>add log </h1>

<article>

        

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="what happened"
                    placeholder="What happened"
                    required
                >
            

                <input
                    type="text"
                    name="further infomation"
                    placeholder="further infomation"
                   
                >

                <button>Add log</button>

            </form>

        </article>
{% endblock %}

