{% extends 'pages/base.jinja' %}

{% block title %}
  Add Vehicle
{% endblock %}

{% block content %}
<section id="add-vehicle">
<article>

        <h1> 🛻 add a vehicle</h1>

        <form action="/add-vehicle" method="POST">

            <input
                type="text"
                name="make"
                placeholder="make"
                required
            >

            <input
                type="text"
                name="model"
                placeholder="model"
                required
            >

            <input
                type="number"
                name="year"
                min="0"
                placeholder="year"
                required
            >

             <input
                type="text"
                name="engine"
                placeholder="engine"
                required
            >

              <input
                type="text"
                name="transmission"
                placeholder="transmission type"
                required
            >

                <input
                type="text"
                name="fuel"
                placeholder="fuel type"
                required
            >
            <button>Add vehicle</button>

        </form>

    </article>
    {% endblock %}