{#=====================================================
  add log
  - Form for adding a new vehicle
=====================================================#}

{% extends 'pages/base.jinja' %}
{% block title %}
  add log
{% endblock %}  

{% block content %}

    <h1>current logs </h1>

    <article>
        <ul>
            
            {% for id, vehicle_id, action_taken, details, date, odometer_kms in INFO %}
                <li>
                    <a href="/details/{{ vehicle_id }}">
                        <strong>{{ vehicle_id }}</strong>
                    </a>
                    <br>
                    Action: {{ action_taken }} <br>
                    Details: {{ details }} <br>
                    Date: {{ date }} <br>
                    Odometer: {{ odometer_kms }} km
                </li>
            {% else %}
                <li>No logs found</li>
            {% endfor %}
        </ul>
    </article>

{% endblock %}


{% if session.user_id %}

    <article>

        <h1>add details for a log about a vehicle</h1>

        <form action="/add" method="POST">

            <input
                type="text"
                name="action_taken"
                placeholder="Details about what happened"
                required
            >

            <input
                type="text"
                name="date"
                placeholder="Date (e.g. 2025-09-05)"
                required
            >

            <input
                type="number"
                name="odometer_kms"
                min="0"
                placeholder="Odometer (kms)"
                required
            >

            <input
                type="text"
                name="further_info"
                placeholder="Further information"
            >

            <button>Add log details</button>

        </form>

    </article>

{% endif %}
