{% extends 'pages/base.jinja' %}

{% block title %}Confirm Delete Log{% endblock %}

{% block content %}
  <h1>Confirm Delete</h1>
  <p>Are you sure you want to delete this log?</p>
  <ul>
    <li>Action: {{ log.action_taken }}</li>
    <li>Details: {{ log.details }}</li>
    <li>Date: {{ log.date }}</li>
    <li>Odometer: {{ log.odometer }}</li>
  </ul>

<form action="/delete/log/{{ log.id }}" method="post">
    <button type="submit">Yes, Delete Log</button>
    <a href="{{ url_for('show_vehicle', id=log.vehicle_id) }}">Cancel</a>
</form>
{% endblock %}