{% extends 'pages/base.jinja' %}


{% block title %}Confirm Delete Log{% endblock %}


{% block content %}
<h1>Deletion of log</h1>
<ul>
    <li>- Action: {{ log.action_taken }}</li>
    <li>- Details: {{ log.details }}</li>
    <li>- Date: {{ log.date }}</li>
    <li>- Odometer: {{ log.odometer }}</li>
</ul>
<form action="{{ url_for('delete_log', id=log.id) }}" method="post">
    <button>Yes, Delete Log</button>

    
    
</form>
{% endblock %}
