{#=====================================================
  details page
  - Form for adding a new vehicle
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Details of vehicle

{% endblock %}


{% block content %}

    <h1>Details</h1>


    <article>

        <ul>
            {% for thing in things %}

                <li>
                    <a href="/details/{{ vehicle.id }}">
                        <strong>{{ vehicle.id }}</strong> - owned by {{ user_id }}
                    </a>
                </li>

            {% else %}


                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    {# Only show form if user is logged in #}
    {% if session.user_id %}

        <article>

            <h3>Add a New Vehicle...</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Name of vehicle"
                    required
                >

                <input
                    type="number"
                    name="year"
                    min="0"
                    placeholder="Year of vehicle"
                    required
                >

                <button>Add details</button>

            </form>

        </article>

    {% endif %}

{% endblock %}

