{#=====================================================
  details page
  - Form for adding a new vehicle
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}
add log

{% endblock %}


{% block content %}

    <h1>add log</h1>


    <article>

        <ul>
            {% for details in INFO %}

                <li>
                    <a href="/details/{{ vehicle.id }}">
                        <strong>{{ vehicle.id }}</strong> - owned by {{ user_id }}
                    </a>
                </li>

            {% else %}


                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    
    {% if session.user_id %}

        <article>

            <h3>add details for a log about a vehicle</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="action_taken"
                    placeholder="Details about what happened"
                    required
                >

                   <input
                    type="text"
                    name="date"
                    min="0"
                    placeholder="Date"
                    required
                >

                  <input
                    type="number"
                    name="odometer_kms"
                    min="0"
                    placeholder="Odometer (kms)"
                    required
                >

                <input
                    type="text"
                    name="further info"
                    placeholder="Further information"
                    
                >

                <button>Add log details</button>

            </form>

        </article>

    {% endif %}

{% endblock %}

