

{% extends 'pages/base.jinja' %}


{% block title %}
  Maintenance Tracker
{% endblock %}


{% block content %}

    <h1>List Of Current Logs</h1>

    

        <form action="/logs" method="POST">

          <h3>Log 1</h3>
            <input
                type="text"
                name=""
                placeholder=""
                required
            >
            <h3>Log 2</h3>
            <input
                type="text"
                name=""
                placeholder=""
                required
            >
            <h3>Log 3</h3>
              <input
                type="text"
                name=""
                placeholder=""
                required
            >
            <h3>Log 4</h3>
            <input
                type="text"
                name=""
                placeholder=""
                required
            >
            <h3>Log 5</h3>
              <input
                type="text"
                name=""
                placeholder=""
                required
            >
            <h3>Log 6</h3>

            <input
                type="text"
                name=""
                placeholder=""
                required
            >

            <button>add another log</button>

        </form>

    

{% endblock %}

