

{% extends 'pages/base.jinja' %}


{% block title %}
maintenance Information

{% endblock %}


{% block content %}

    <section id="maintenance information">

    <h1>maintenance information</h1>

<article>

            <h3>add infomation</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="what happened"
                    placeholder="What happened"
                    required
                >

                <input
                    type="text"
                    name="further infomation"
                    placeholder="further infomation"
                   
                >

                <button>Add infomation</button>

            </form>

        </article>
{% endblock %}

