{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    vehicle list 

{% endblock %}


{% block content %}

    <section id="vehicle list">

    <h1>Current vehicle list</h1>

<form action="/current.vehicles" method="POST">

          <h3>vehicle 1</h3>
            <input
                type="text"
                name=""
                placeholder=""
                required
            >
            <h3>vehicle 2</h3>
            <input
                type="text"
                name=""
                placeholder=""
                required
            >
            <h3>vehicle 3</h3>
              <input
                type="text"
                name=""
                placeholder=""
                required
            >
            <h3>vehicle 4</h3>
            <input
                type="text"
                name=""
                placeholder=""
                required
            >
            <h3>vehicle 5</h3>
              <input
                type="text"
                name=""
                placeholder=""
                required
            >
            <h3>vehicle 6</h3>

            <input
                type="text"
                name=""
                placeholder=""
                required
            >

            <button>add another vehicle</button>

        </form>
{% endblock %}

