{% extends 'pages/base.jinja' %}

{% block content %}
<section id="vehicle_list">
    <h1>{{ vehicle.make }} {{ vehicle.model }} - {{vehicle.engine}} - {{vehicle.transmission}} - {{vehicle.fuel}}</h1>
    <p><strong>Year:</strong> {{ vehicle.year }}</p>

    {% if logs %}
        <ul>
        {% for log in logs %}
            <li>
                <strong>{{ log.date }}</strong> {{ log.action_taken }} - {{ log.details }} - {{log.cost}} - {{log.duration}} - {{log.category}} ({{ log.odometer }} km)
                <form action="{{ url_for('delete_log', id=log.id) }}" method="POST">
                  <button>Delete</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You have no logs added yet.</p>
    {% endif %}

    <article>
        <h2>Add a log for this vehicle</h2>

        <form action="{{ url_for('add_log') }}" method="POST">
            <input type="hidden" name="vehicle_id" value="{{ vehicle.id }}">

            <input type="text" name="action_taken" placeholder="action taken" required>
            <input type="text" name="details" placeholder="additional details" required>
            <input type="number" name="odometer" placeholder="odometer (in kms)" required>
            <input type="text" name="cost" placeholder="cost (in NZD)" required>
            <input type="text" name="duration" placeholder="duration" required>
             <input type="text" name="category" placeholder="category" required>

            <button>Add Log</button>
        </form>
    </article>
</section>
{% endblock %}
