{% extends 'pages/base.jinja' %}

{% block title %}
    Vehicle List
{% endblock %}

{% block content %}

<section id="vehicle_list">
    <h1>Your Vehicles</h1>

    {% if vehicles %}
        <ul>
        {% for vehicle in vehicles %}
            <li>
                <a role="button" href="/vehicle/{{ vehicle.id }}">
                    <strong> 🛻 {{ vehicle.make }} {{ vehicle.model }} - {{ vehicle.engine }} - {{ vehicle.transmission }} - {{ vehicle.fuel }}</strong>
                    ({{ vehicle.year }})
                </a>
                <form action="/vehicle/{{ vehicle.id }}" method="POST">
                    <button>
                        Delete
                    </button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You have no vehicles added yet.</p>
    {% endif %}
</section>

{% endblock %}
