
/*=====================================================
  Dark/Light Mode Styles
=====================================================*/

/* Smooth transition for all elements */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light Mode (default) */
body.light-mode {
  background-color: #ffffff;
  color: #111111;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}


#messages .message.success {
  color: var(--pico-color-green-500);
}

#messages .message.error {
  color: var(--pico-color-red-500);
}


a, button {
  transition: color 0.3s ease, background-color 0.3s ease;
}

body.light-mode a {
  color: #0055cc;
}

body.dark-mode a {
  color: #e71010;
}

